{% extends "simplechat/base.html" %}
{% load staticfiles %}
{% block headstyles %}
    <style>
       #message {
            width: 1000px;
        }
        .scroll {
            overflow-x: scroll;
            overflow-y: scroll;
        }
        #message_list_div {
            height: 150px;
            width: 1000px;
        }
        #people_list_div{
            height: 100px;
            width: 300px;
        }
    </style>
{% endblock %}
{% block headscripts %}
    <script>
        var urls = {
            index: "{% url 'simplechat:index' %}",
            participant_list: "{% url 'simplechat_api:participant-list' %}",
            room_detail: "{% url 'simplechat_api:room-detail' room.id %}",
            message_list: "{% url 'simplechat_api:message-list' %}",
            message_recent: "{% url 'simplechat_api:message-recent' %}",
            register: "{% url 'simplechat:room_register' room.id %}",
            participant: "{% url 'simplechat_api:participant-detail' user_pk %}"
        };
        var context = {
            room_id: {{ room.id | escapejs }},
            name: '{{ name | escapejs }}',
            user_pk: {{ user_pk | escapejs }},
            password: '{{ password | escapejs }}'
        };
    </script>
    <script src="{% static 'simplechat/js/room_logic.js' %}"></script>
{% endblock %}
{% block content %}
    <h1 id="greetings"></h1>
    <p>People in this room:</p>
    <div id="people_list_div" class="scroll">
        <ul id="people_list">
        </ul>
    </div>
    <p>Messages:</p>
    <div id="message_list_div" class="scroll">
        <ul id="message_list">
        </ul>
    </div>
    <div id="message_form">
        <label id="message-label" for="message"></label>
        <input type="text" id="message">
        <input id="message-send-btn" type="button" value="Send">
    </div>
    <p>Had enough? <a id="logout">Leave room.</a></p>
{% endblock %}
