{% extends "simplechat/base.html" %}

{% block headscripts %}
    <script>
        var User = function (name, url) {
            this.name = name;
            this.url = url;
        }
        var name = prompt("Enter your nickname");
        if (name === "" || name === "null") {
            location.href = "{% url 'simplechat:index' %}";
        }
        var user = new User(name);
        add_user(name);
        function add_user(name) {
            $.post(
                    "{% url 'simplechat_api:participant_list' %}",
                    {
                        "room": {{room.id}},
                        "name": user.name
                    },
                    function (data) {
                        user.url = data.url;
                    }
            )
        }
        function delete_user() {
            $.ajax({
                url: user.url,
                method: "delete",
                success: function () {
                    location.href = "{% url 'simplechat:index' %}";
                }
            });
        }
    </script>
{% endblock %}
{% block bodyscripts %}
    <script>
        $(document).ready(function () {
            $("#logout").click(delete_user);
            $("#greetings").text($("#greetings").text() + ", " + user.name);
            $("#people_list").append($("<li id='"+(user.url)+"'>").text(user.name));
        });
    </script>
{% endblock %}
{% block content %}
<h1 id="greetings">Welcome to room {{ room.id }}</h1>
<p>People in this room:</p>
<ul id="people_list">
    {% for participant in room.participant_set.all %}
        <li>{{ participant.name }}</li>
    {% endfor %}
</ul>
<p>Had enough? <a id="logout">Leave room.</a></p>
{% endblock %}
