{% extends "simplechat/base.html" %}

{% block headscripts %}
    <script>
        var User = function (name, url) {
            this.name = name;
            this.url = url;
        }
        var name = prompt("Enter your nickname");
        if (name === "" || name === "null") {
            location.href = "{% url 'simplechat:index' %}";
        }
        var user = new User(name);
        add_user();
        function add_user() {
            $.post(
                    "{% url 'simplechat_api:participant_list' %}",
                    {
                        "room": {{room.id}},
                        "name": user.name
                    },
                    function (data) {
                        user.url = data.url;
                    }
            )
        }
        function delete_user() {
            $.ajax({
                url: user.url,
                method: "delete",
                success: function () {
                    location.href = "{% url 'simplechat:index' %}";
                }
            });
        }
        function get_users() {
            $.get(
                    "{% url 'simplechat_api:room_detail' room.id%}",
                    {},
                    function (data) {
                        console.log(data.participant_set);
                    }
            )
        }
        function get_counter(x) {
            var counter = {};
            x.forEach(function (X) {
               if (counter[X] === undefined) {
                   counter[X] = 1;
               } else {
                   counter[X] += 1;
               }
            });
            return counter;
        }
        function get_all_keys(obj1, obj2) {
            return _.chain(_.keys(obj1))
                .union(_.keys(obj2))
                .value();
        }
        function get_diff_counters(old_counter, new_counter) {
            var to_add = {};
            var to_delete = {};
            _.each(get_all_keys(old_counter, new_counter), function (key) {
                var old_value = old_counter[key] | 0;
                var new_value = new_counter[key] | 0;
                var diff = new_value - old_value;
                if (diff > 0) {
                    to_add[key] = diff;
                } else {
                    to_delete[key] = -diff;
                }
            });
            return {"add": to_add, "delete": to_delete};
        }
    </script>
{% endblock %}
{% block bodyscripts %}
    <script>
        $(document).ready(function () {
            $("#logout").click(delete_user);
            $("#greetings").text($("#greetings").text() + ", " + user.name);
            $("#people_list").append($("<li id='"+(user.url)+"'>").text(user.name));
        });
    </script>
{% endblock %}
{% block content %}
<h1 id="greetings">Welcome to room {{ room.id }}</h1>
<p>People in this room:</p>
<ul id="people_list">
    {% for participant in room.participant_set.all %}
        <li>{{ participant.name }}</li>
    {% endfor %}
</ul>
<p>Had enough? <a id="logout">Leave room.</a></p>
{% endblock %}
