{% extends "simplechat/base.html" %}

{% block headscripts %}
    <script>
        function get_name() {
            return $.cookie("{{ room.id }}-name");
        }
        function set_name(name) {
            $.cookie("{{ room.id }}-name", name);
        }
        var name = get_name();
        if (name === "undefined") {
            name = prompt("Enter your nickname");
            if (name === "" || name === "null") {
                location.href = "{% url 'simplechat:index' %}";
            }
            add_user(name);
        }
        function add_user(name) {
            $.post(
                    "{% url 'simplechat:participant_list' %}",
                    {
                        "room": {{room.id}},
                        "name": name
                    },
                    function (){
                        $("#people_list").append($("<li>").text(name));
                    }
            )
        }
    </script>
{% endblock %}
{% block bodyscripts %}
    <script>
        $(document).ready(function () {
            set_name(name);
            $("#greetings").text($("#greetings").text() + ", " + name);
        });
    </script>
{% endblock %}
{% block content %}
<h1 id="greetings">Welcome to room {{ room.id }}</h1>
<p>People in this room:</p>
<ul id="people_list">
    {% for participant in room.participant_set.all %}
        <li>{{ participant.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
