{% extends "simplechat/base.html" %}

{% block headscripts %}
    <script>
        var name = prompt("Enter your nickname");
        if (name === "" || name === "null") {
            location.href = "{% url 'simplechat:index' %}";
        }
    </script>
{% endblock %}
{% block bodyscripts %}
    <script>
        $(document).ready(function () {
            $.cookie("{{ room.id }}-name", name);
            $("#greetings").text($("#greetings").text() + ", " + name);
        });
    </script>
{% endblock %}
{% block content %}
<h1 id="greetings">Welcome to room {{ room.id }}</h1>
{% endblock %}
